/*-----------------
        RESET
------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------
        RESET
------------------*/

/*-----------------
      MAIN
------------------*/
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 


.container{
    width: 900px;
    height: 100vh;
    margin: auto;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item{
    display: flex;
    height: 300px;
    width: 700px;
    background-color: aquamarine;
}

.items-img{
    display: none;
    position: relative;
    width: 80%;
    height: 100%;
}

.title{
    padding: 10px 10px;
    text-align: right;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.title h5{
    font-size: 1rem;
}

.title p{
    font-size: .8125rem;
}

.items-img-card{
    width: 100%;
    height: 100%;
}

.active{
    display: block;
}


.items-preview{
    position: relative;
    /* display: flex;
    flex-direction: column; */
    width:  calc(100% - 80%);
    height: 100%;
    background-color: brown;
}

.item-pre-img{
    width: 100%;
    height: calc(100% / 5);
}

.btn-over, .btn-under{
    color: white;
    padding: 10px 0;
    position: absolute;
    left: 50%;
}

.btn-under{
    bottom: 0;

}


